/* styles/ThreeBackground.module.css */
.fixed-inset {
    position: fixed;
    inset: 0;
    z-index: -10;
    background: radial-gradient(circle at center, var(--background-start-rgb) 0%, var(--background-end-rgb) 100%);
  }
  
  .fixed-inset.dark {
    background: radial-gradient(circle at center, #1a237e 0%, #000000 100%);
  }
  